[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/Binary-Reader"]
	path = lib/Binary-Reader
	url = https://github.com/Puxtril/Binary-Reader.git
[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "lib/liblzf"]
	path = lib/liblzf
	url = https://github.com/Puxtril/liblzf.git
